<div>
  <h1>Name: {{data.firstname}} {{data.lastname}}</h1>
  <h1>City: {{data.city}}</h1>
  <h1>State: {{data.state}}</h1>
  <h1>Email: {{data.email}}</h1>
</div>
<div id="updateprofile">
  <a   href="/updateprofile"><div>Update User Profile</div></a>
</div>
